.section {
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
}

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.title {
    padding: 5px 25px;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    background-color: rgb(255, 165, 0);
    border-radius: 5px;
    width: 60%;
}

.buttons {
    display: flex;
    font-size: 20px;
}

.itemButton {
    border: 1px solid rgb(255, 165, 0);
    box-shadow: 1px 1px 10px rgb(255 165 0);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: box-shadow 0.3s ease;
}

.activeItemButton {
    border: 1px solid rgb(255, 165, 0);
    background: rgb(255, 165, 0, 0.4);
    box-shadow: 1px 1px 10px rgb(255 165 0);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: box-shadow 0.3s ease;
}

.itemButton:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(255 165 0);
}

.activeItemButton:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(255 165 0);
}

.itemButton:last-child {
    margin-right: 0;
}

.activeItemButton:last-child {
    margin-right: 0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8cf84;
    border: thick double rgb(255, 165, 0);
    margin: 0px 20px 20px 0px;
}

.coverCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
    transition: transform 0.5s ease, color 2s ease 0.5s;
    transform: translate(-100%, -100%);
}

.coverCardTitle {
    font-size: 20px;
}

.coverCardSubTitle {
    font-size: 16px;
    font-style: italic;
}

.cardImg {
    position: relative;
    max-width: 300px;
    max-height: 135px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: box-shadow 0.35s ease;
}

.cardImg img {
    width: 100%;
    display: block;
    transition: transform 0.35s ease;
}

.cardImg:hover img {
    transform: scale(1.2);
}

.cardImg:hover {
    box-shadow: 0px 5px 10px rgb(255, 165, 0);
}

.cardImg:hover .coverCard {
    transform: translate(0, 0);
    color: rgba(255, 255, 255, 0.772);
}

.cardLink {
    display: inline-block;
}

.cardLink a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
}

.cardLink:hover a {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .section {
        padding: 0;
    }
    .headerSection {
        display: block;
    }
    .title {
        width: 100%;
        margin-bottom: 20px;
    }
    .buttons {
        flex-wrap: wrap;
    }
}
