/* overpass-300 - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/Montserrat-Regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/Montserrat-Medium.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/Montserrat-Black.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
