.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.containerChildren {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    background: rgb(253, 252, 252);
    height: calc(100vh - 90px);
    box-shadow: 0px 5px 25px 0px rgb(0, 0, 0, 0.7);
}

.subContainerChildren {
    height: 100%;
    background-color: #fce6bd;
    padding: 20px 0 5px 20px;
    font-weight: 500;
    line-height: 1.5;
}

@media screen and (max-width: 767px) {
    .containerChildren {
        box-shadow: unset;
    }

    .subContainerChildren {
        padding: 20px;
    }
}
