.header {
    background: rgb(51, 51, 51);
    padding: 15px;
    min-height: 70vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menuLink {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.activeMenuLink {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.menuIcon {
    display: none;
}

.select {
    font-size: 17px;
    color: rgb(255, 255, 255);
    background: rgb(51, 51, 51);
    padding: 5px;
    border-radius: 4px;
}

@media screen and (min-width: 767px) {
    .menuBody {
        display: flex;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .openMenu {
        left: 0;
    }

    .closeMenu {
        left: 0;
    }

    .menuLink {
        margin-right: 20px;
    }

    .activeMenuLink {
        margin-right: 20px;
    }
}

@media screen and (max-width: 767px) {
    .menuBody {
        position: fixed;
        top: 50px;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        padding-top: 60px;
        font-size: 30px;
        background: rgb(51, 51, 51, 0.9);
        display: flex;
        letter-spacing: 1px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
    }

    .menuLink {
        margin-bottom: 30px;
    }

    .activeMenuLink {
        margin-bottom: 30px;
    }

    .openMenu {
        left: 0;
        transition: transform 0.3s ease;
    }

    .closeMenu {
        transform: translate(-100%);
    }

    .menuIcon {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menuIcon span,
    .menuIcon::before,
    .menuIcon::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    .menuIcon::before,
    .menuIcon::after {
        content: "";
    }

    .menuIcon::before {
        top: 0;
    }

    .menuIcon::after {
        top: 100%;
    }

    .menuIcon span {
        top: 50%;
    }

    .closeMenuIcon {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .closeMenuIcon::before,
    .closeMenuIcon::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    .closeMenuIcon::before,
    .closeMenuIcon::after {
        content: "";
    }

    .closeMenuIcon::before {
        top: 50%;
        transform: rotate(45deg);
    }

    .closeMenuIcon::after {
        top: 50%;
        transform: rotate(-45deg);
    }
}
